<a href="https://colab.research.google.com/github/Stellalee32/python_programming/blob/main/Week10_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# 2023272280 이승아

result=0

def adder(num):
    global result
    result += num
    return result

In [7]:
print(adder(3))
print(adder(4))

3
7

In [8]:
print(adder(4))
print(adder(5))

11
16

In [15]:
result1 = 0
result2 = 0

def adder1(num):
    global result1
    result1 += num
    return result1

def adder2(num):
    global result2
    result2 += num
    return result2


print(adder1(3))
print(adder1(4))
print(adder2(3))
print(adder2(7))

3
7
3
10

In [16]:
class Service:
    secret = "지구는 4006년에 멸망한다."

an = Service()

an.secret

'지구는 4006년에 멸망한다.'

In [17]:
Service.secret

'지구는 4006년에 멸망한다.'

In [18]:
Service.secret = '지구가 4006년에 멸망한다는 사실은 뻥이다.'

print(an.secret)

지구가 4006년에 멸망한다는 사실은 뻥이다.

In [19]:
class Service:
    secret = "지구는 4006년에 멸망한다"
    def sum(self, a, b):
        result = a+b
        print("%s + %s = %s이다." % (a, b, result))

an = Service()

an.sum(1,1)

1 + 1 = 2이다.

In [21]:
class Service:
  secret = "지구는 4006년에 멸망한다"
  def setname(self, name):
      self.name = name
  def sum(self, a, b):
      result = a+b
      print("%s님, %s + %s = %s 입니다." % (self.name, a, b, result))

In [23]:
an = Service()
an.setname("박달도사")
an.sum(1,1)

박달도사님, 1 + 1 = 2 입니다.

In [24]:
kim = Service()
park = Service()
kim.name = "김정보"
park.name = "박융합"

print(kim.name)

김정보

In [25]:
print(park.name)

박융합

In [26]:
kim.secret = "비밀은 없다"
print(park.secret)

지구는 4006년에 멸망한다

In [28]:
print(kim.secret)

비밀은 없다

In [29]:
Service.secret

'지구는 4006년에 멸망한다'

In [30]:
lee = Service()
lee.sum(1,1)

AttributeError: ignored

In [33]:
class Service:
  secret = "지구는 4006년에 멸망한다"
  def __init__(self, name):
    self.name = name
  def sum(self, a, b):
    result = a+b
    print("%s님, %s + %s = %s입니다." %(self.name, a, b,result))

In [34]:
an = Service("박달도사")
an.sum(1,1)

박달도사님, 1 + 1 = 2입니다.

In [36]:
class FourCal:
  pass

a = FourCal()
type(a)

__main__.FourCal

In [37]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

a = FourCal()
a.setdata(4,2)

In [38]:
print(a.first)

4

In [39]:
print(a.second)

2

In [40]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def sum(self):
    result = self.first + self.second
    return result

In [41]:
a = FourCal()
a.setdata(4,2)

In [42]:
print(a.sum())

6

In [ ]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def sum(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

In [44]:
a = FourCal()
b = FourCal()
a.setdata(4,2)
b.setdata(3,7)

In [45]:
a.sum()

6

In [46]:
a.mul()

AttributeError: ignored

In [47]:
a.sub()

AttributeError: ignored

In [48]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def sum(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

In [49]:
a = FourCal()
b = FourCal()
a.setdata(4,2)
b.setdata(3,7)

a.mul()

8

In [50]:
a.div()

2.0

In [51]:
a.sub()

2

In [52]:
b.sub()

-4

In [53]:
b.sum()

10

In [55]:
import random

player1_dice = []
player2_dice = []

for i in range(3):
  player1_dice.append(random.randint(1,6))
  player2_dice.append(random.randint(1,6))

print("Player 1 rolled" + str(player1_dice))
print("Player 2 rolled" + str(player2_dice))

if sum(player1_dice) == sum(player2_dice):
  print("Draw")
elif sum(player1_dice) > sum(player2_dice):
  print("Player 1 wins")
else:
  print("Player 2 wins")

Player 1 rolled[3, 6, 5]
Player 2 rolled[5, 4, 1]
Player 1 wins

In [59]:
from random import randint

class player:
  def __inint__(self):
    self.dice = []

  def roll(self):
    self.dice = []
    for i in range(3):
      self.dice.append(randint(1,6))

  def get_dice(self):
    return self.dice

player1 = player()
player2 = player()

player1.roll()
player2.roll()

print("Player 1 rolled" + str(player1.get_dice()))
print("Player 2 rolled" + str(player2.get_dice()))

if sum(player1.get_dice()) == sum(player2.get_dice()):
  print("Draw!")
elif sum(player1.get_dice()) > sum(player2.get_dice()):
  print("Player 1 wins!")
else:
  print("Player 2 wins!")

Player 1 rolled[1, 1, 2]
Player 2 rolled[1, 5, 5]
Player 2 wins!